<div class="orangeBackground">
  <div class="topTitle search desktop">My Saved Recipes</div>
  <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="#"><img class="avatar" src="./img/avatar.svg" height="40px" /></a>
    <div class="search mobile">My Saved Recipes</div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler"
      aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarToggler">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/members">Home</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/saved">Saved <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
        </li>
      </ul>
    </div>
  </nav>
</div>

<div class="container">
  <div id="savedRecipes">
    {{#each recipes}}
    <div class="card saved-card">
      <div class="card-body">
        <img class="card-image" src="{{this.Image}}">
        <div class="card-text recipe-name">{{this.RecipeLabel}}</div>
        <div class="time">
          <span class="dot"></span>
          {{this.PrepTime}} minutes
        </div>
        <div class="actions">
          <button class="btn btn-secondary deleteBtn" data-id="{{this.id}}">
            <i class="fa fa-trash"></i>
          </button>
        </div>
        <div class="recipe-link">
          <a href={{RecipeUrl}} 
          target="_blank">Link to Recipe</a>
        </div>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>

<script type="text/javascript">
  $(document).ready(() => {
    $("img").on("error", function () {
      $(this).css("visibility", "hidden");
      $(this).css("width", "50px");
      $(this).css("height", "50px");
    });

    $(".deleteBtn").on("click", function () {
      const recipeId = $(this).data('id');

      $.ajax({
        url: '/api/saveRecipe',
        method: "DELETE"
      }).then(function(response) {
        alert('Recipe deleted');
        location.reload();
      }).catch(function(response){
        alert('Error');
      })
    });
  });