<div class="orangeBackground">
  <div class="topTitle search desktop">Search for a Recipe</div>
  <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="#"><img class="avatar" src="./img/avatar.svg" height="40px" /></a>
    <div class="search mobile">Search for a Recipe</div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler"
      aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarToggler">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/members">Home</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/saved">Saved <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
        </li>
      </ul>
    </div>
  </nav>
</div>

<div class="container">
  <div id="savedRecipes">
    {{#each recipes}}
    <div class="card">
      <div class="card-body">
        <img class="card-image" src="{{this.image}}">
        <div class="card-text recipe-name">{{this.label}}</div>
        <div class="diet-labels">
          {{#each this.dietLabels}}
          <span class="badge badge-warning">{{this}}<Label}< /span>`
              {{/each}}
        </div>
        <div class="time">
          <span class="dot"></span>
          {{this.totalTime}} minutes
        </div>
        <div class="actions">
          <button class="btn btn-warning showRecipe">Show Recipe</button>
          <button class="btn btn-secondary saveBtn" data-id="{{this.id}}">
            <i class="fa fa-trash"></i>
          </button>
        </div>
        <div class="recipe-link">
          <a href={{this.url}} target="_blank">Link to Recipe</a>
        </div>
        <div class="recipe-information">
          <div class="ingredient-list">
            {{#each this.ingredients}}
            `<div class="ingredient">
              <img class="ingredient-image" src="{{this.image}}" />
              <span>{{this.text}}</span>
            </div>`
            {{/each}}
          </div>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>

<script type="text/javascript">
  $(document).ready(() => {
    $("img").on("error", function () {
      $(this).css("visibility", "hidden");
      $(this).css("width", "50px");
      $(this).css("height", "50px");
    });

    $(".showRecipe").on("click", function () {
      const recipeInfo = $(this)
        .parent()
        .siblings(".recipe-information");

      if ($(this).text() === "Show Recipe") {
        recipeInfo.slideDown();
        $(this).text("Hide Recipe");
      } else {
        recipeInfo.slideUp();
        $(this).text("Show Recipe");
      }
    });
  });